<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>FMobileG3</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>fr</string>
		<string>sr</string>
		<string>es</string>
		<string>nl</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>IntentsRestrictedWhileLocked</key>
			<array/>
			<key>IntentsRestrictedWhileProtectedDataUnavailable</key>
			<array/>
			<key>IntentsSupported</key>
			<array>
				<string>CarrierIntent</string>
				<string>FlightModeIntent</string>
				<string>GetCurrentCarrierIntent</string>
				<string>GetCurrentMCCIntent</string>
				<string>GetCurrentMNCIntent</string>
				<string>GetCurrentSIMCarrierIntent</string>
				<string>GetCurrentSIMMCCIntent</string>
				<string>GetCurrentSIMMNCIntent</string>
				<string>GetESIMCarrierIntent</string>
				<string>GetESIMConnectedCarrierIntent</string>
				<string>GetESIMConnectedMCCIntent</string>
				<string>GetESIMConnectedMNCIntent</string>
				<string>GetESIMMCCIntent</string>
				<string>GetESIMMNCIntent</string>
				<string>GetSIMConnectedCarrierIntent</string>
				<string>GetSIMConnectedMCCIntent</string>
				<string>GetSIMConnectedMNCIntent</string>
				<string>GetSimCarrierIntent</string>
				<string>GetSimMCCIntent</string>
				<string>GetSimMNCIntent</string>
				<string>IllegalRoamingIntent</string>
				<string>IsNetworkConnectedIntent</string>
				<string>IsWifiConnectedIntent</string>
				<string>ShutBluetoothIntent</string>
				<string>ShutWifiIntent</string>
			</array>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.intents-service</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).IntentHandler</string>
	</dict>
</dict>
</plist>
