<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>fr_FR</string>
	<key>CFBundleDisplayName</key>
	<string>FMobile</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>myradin-40</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>myradin-40</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array/>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array/>
	<key>CFBundleVersion</key>
	<string>70</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>monreseau-freemobile</string>
		<string>monreseau</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionAllowsInsecureHTTPLoads</key>
		<false/>
		<key>NSExceptionMinimumTLSVersion</key>
		<string>TLSv1.0</string>
		<key>NSExceptionRequiresForwardSecrecy</key>
		<false/>
		<key>NSIncludesSubdomains</key>
		<true/>
		<key>NSRequiresCertificateTransparency</key>
		<false/>
		<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
		<false/>
		<key>NSThirdPartyExceptionMinimumTLSVersion</key>
		<string>TLSv1.0</string>
		<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Vous devez autoriser la localisation en arrière-plan avec "Toujours" pour pouvoir profiter de cette application. Ces données permettent de vérifier si vous êtes dans une zone non-couverte, ou couverte par des Femto et ran-sharing (consulter ou sauvegarder ces coordonnées pour une vérification future). Elles permettent également d’arrêter l'app lorsque vous êtes à l'étranger. Ces données restent locales mais sont primordiales au bon fonctionnement de l’application. Ceci peut avoir un impact négatif sur l'autonomie de votre batterie.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Vous devez autoriser la localisation en arrière-plan avec "Toujours" pour pouvoir profiter de cette application. Ces données permettent de vérifier si vous êtes dans une zone non-couverte, ou couverte par des Femto et ran-sharing (consulter ou sauvegarder ces coordonnées pour une vérification future). Elles permettent également d’arrêter l'app lorsque vous êtes à l'étranger. Ces données restent locales mais sont primordiales au bon fonctionnement de l’application. Ceci peut avoir un impact négatif sur l'autonomie de votre batterie.</string>
	<key>NSLocationUsageDescription</key>
	<string>Vous devez autoriser la localisation en arrière-plan avec "Toujours" pour pouvoir profiter de cette application. Ces données permettent de vérifier si vous êtes dans une zone non-couverte, ou couverte par des Femto et ran-sharing (consulter ou sauvegarder ces coordonnées pour une vérification future). Elles permettent également d’arrêter l'app lorsque vous êtes à l'étranger. Ces données restent locales mais sont primordiales au bon fonctionnement de l’application. Ceci peut avoir un impact négatif sur l'autonomie de votre batterie.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Vous devez autoriser la localisation en arrière-plan avec "Toujours" pour pouvoir profiter de cette application. Ces données permettent de vérifier si vous êtes dans une zone non-couverte, ou couverte par des Femto et ran-sharing (consulter ou sauvegarder ces coordonnées pour une vérification future). Elles permettent également d’arrêter l'app lorsque vous êtes à l'étranger. Ces données restent locales mais sont primordiales au bon fonctionnement de l’application. Ceci peut avoir un impact négatif sur l'autonomie de votre batterie.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>gps</string>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
