<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>fr.plugn.fmobile.heavycheck</string>
		<string>fr.plugn.fmobile.iticheck</string>
	</array>
	<key>CFBundleAllowMixedLocalizations</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>fr</string>
	<key>CFBundleDisplayName</key>
	<string>FMobile 5</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>myradin-40</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>myradin-40</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array/>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>myradin-40</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>myradin-40</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array/>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>fr</string>
		<string>sr</string>
		<string>nl</string>
		<string>es</string>
		<string>en</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>fr.plugn.fmobile</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fmobile</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fmobile</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionAllowsInsecureHTTPLoads</key>
		<false/>
		<key>NSExceptionMinimumTLSVersion</key>
		<string>TLSv1.0</string>
		<key>NSExceptionRequiresForwardSecrecy</key>
		<false/>
		<key>NSIncludesSubdomains</key>
		<true/>
		<key>NSRequiresCertificateTransparency</key>
		<false/>
		<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
		<false/>
		<key>NSThirdPartyExceptionMinimumTLSVersion</key>
		<string>TLSv1.0</string>
		<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>You must allow background location using \"Always\" in order to take advantage of this application. These data allow to check if you are localized in a non-covered zone, or covered by a Femto or ran-sharing antenna (read or save these coordinates for future verifications). They also allow to stop the app when you travel aboard. These data stay local but are mendatory for the good functionning of the app. This may have a negative impact on your phone's battery life.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>You must allow background location using \"Always\" in order to take advantage of this application. These data allow to check if you are localized in a non-covered zone, or covered by a Femto or ran-sharing antenna (read or save these coordinates for future verifications). They also allow to stop the app when you travel aboard. These data stay local but are mendatory for the good functionning of the app. This may have a negative impact on your phone's battery life.</string>
	<key>NSLocationUsageDescription</key>
	<string>You must allow background location using \"Always\" in order to take advantage of this application. These data allow to check if you are localized in a non-covered zone, or covered by a Femto or ran-sharing antenna (read or save these coordinates for future verifications). They also allow to stop the app when you travel aboard. These data stay local but are mendatory for the good functionning of the app. This may have a negative impact on your phone's battery life.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>You must allow background location using \"Always\" in order to take advantage of this application. These data allow to check if you are localized in a non-covered zone, or covered by a Femto or ran-sharing antenna (read or save these coordinates for future verifications). They also allow to stop the app when you travel aboard. These data stay local but are mendatory for the good functionning of the app. This may have a negative impact on your phone's battery life.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>CarrierIntent</string>
		<string>FlightModeIntent</string>
		<string>GetCurrentCarrierIntent</string>
		<string>GetCurrentMCCIntent</string>
		<string>GetCurrentMNCIntent</string>
		<string>GetCurrentSIMCarrierIntent</string>
		<string>GetCurrentSIMMCCIntent</string>
		<string>GetCurrentSIMMNCIntent</string>
		<string>GetESIMCarrierIntent</string>
		<string>GetESIMConnectedCarrierIntent</string>
		<string>GetESIMConnectedMCCIntent</string>
		<string>GetESIMConnectedMNCIntent</string>
		<string>GetESIMMCCIntent</string>
		<string>GetESIMMNCIntent</string>
		<string>GetSIMConnectedCarrierIntent</string>
		<string>GetSIMConnectedMCCIntent</string>
		<string>GetSIMConnectedMNCIntent</string>
		<string>GetSimCarrierIntent</string>
		<string>GetSimMCCIntent</string>
		<string>GetSimMNCIntent</string>
		<string>IllegalRoamingIntent</string>
		<string>IsNetworkConnectedIntent</string>
		<string>IsWifiConnectedIntent</string>
		<string>ShutBluetoothIntent</string>
		<string>ShutWifiIntent</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>gps</string>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
